extends ../layout

block page
  h1 芦山地震灾区寻人服务微信接口

  p
    | 扫描下方二维码，添加接口帐户
    | 输入 S 人名 查找信息

  img(src='/TWQr.jpg')

  p
    Source code is avaiable at
    a(href="https://github.com/timnew/PersonFinder2WeChat") https://github.com/timnew/PersonFinder2WeChat

  //
    code for API key authentication: sgPsIuYGRQx3bFG4